@import '../../../../assets/styles/global.scss';

.localization {
    position: relative;
    width: 100%;
    height: 40vh;

    >.position {
        background-color: $primary;
        position: absolute;
        bottom: 30px;
        right: 25px;
        border-radius: 20px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        >svg {
            margin-right: 8px;
        }
        >p {
            color: $white;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}