@import '../../../../assets/styles/global.scss';

#home {
    height: 100%;
    padding: 0 20px 20px;

    #header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
        >.menu {
            width: 3rem;
        }
        >.avatar {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: solid 1px $stroke-color;
            background-color: $primary;
        }
        >.avatar-shop {
            width: 3.5rem;
            height: 3.5rem;
            padding: 1vh;
            border-radius: 50%;
            border: solid 1px $stroke-color;
            background-color: $primary;
        }
        >.link-profile{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: solid 1px $stroke-color;
        }
    }
    
    .search {
        display: flex;
        padding: 10px 0;
    }

    .section-title {
        margin: 15px 0;
        >h2 {
            font-size: 1.7rem;
            font-weight: bold;
            color: $primary;
        }
        >span {
            display: block;
            height: 4px;
            margin-top: 5px;
            width: 55px;
            background-color: $primary;
        }
    }

    .services-wrapper {
        margin: 15px 0;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 270px;
        grid-auto-flow: column;
        gap: 10px;
        //overflow-x: scroll;

        >.service-item {
            cursor: pointer;
            position: relative;
            height: 130px;
            width: 250px;
            border-radius: 25px;
            background-size: contain;
            padding: 5px;
            >.service-title {
                margin-top: 10px;
                position: absolute;
                right: 20px;
                top: 50%;
                >h2 {
                    font-size: 1.85rem;
                    font-weight: bold;
                    color: $primary;
                }
                >span {
                    display: block;
                    height: 4px;
                    margin-top: 5px;
                    width: 55px;
                    background-color: $primary;
                }
            }
            &--1 {
                background: url("../../../../assets/images/woman.png") left no-repeat;
                background-color: rgba($primary, .1);
            }
            &--2 {
                background: url("../../../../assets/images/man.png") left no-repeat;
                background-color: $primary;
            }
        }
    }

    >.products-wrapper {
        display: grid;
        grid-template-columns:  1fr 1fr;
        column-gap: 15px;
        row-gap: 5px;
    }
  >.spinner_loader{
    display: flex;
    justify-content: space-around;
  }
}
.cart-modal-service {
    display: flex;
    flex-direction: column;
    .like-service{
        display: flex;
        justify-content: space-around;
        height: 5vh;
        align-items: center;
    }
    .like {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        box-shadow: 0px 3px 10px rgba($secondary, .1);
        border-radius: 50%;
    }
    .section-title-product {
        font-size: 1.7rem;
        font-weight: bold;
        color: $primary;
        margin-top: -8px;
        margin-bottom: 2vh;
    }
    .name-service{
        font-size: 1.5rem;
        font-weight: 600;
        color: $secondary;
    }
    .product-image-product{
        height: 280px;
        width: 210px;
        margin: 1.5vh;
    }
}
.cart {
    padding: 10px;
    //width: 20px;
    background-color: $primary;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}