@import '../../../../assets/styles/global.scss';

.works {
   display: grid;
   grid-template-columns: repeat(5, minmax(50px, 1fr));
  /* >img {
       object-fit: contain;
       width: 100%;
       height: 100%;
   }*/

  >artwork{
    display: flex;
  }
}

.spinner_load_search{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

