@import '../../../../assets/styles/global.scss';

.signup-container {
  height: 100vh;
  display: grid;
  width: 100vw;
  justify-content: center;
  align-content: flex-start;
  background: url("../../../../assets/images/bottom-bg.svg") no-repeat bottom center;
  overflow: auto;

  >.logo-box {
    padding: 15px 0;
    >img {
      width: 4.5rem;
    }
  }
  >.big-logo__box {
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
      width: 17rem;
    }
  }

  .auth-container__input-container {
    display: grid;
    position: relative;
    svg {
      display: block;
      margin: 26px 20px;
      position: absolute;
    }

    .auth-container__input {
      margin: 10px 0;
      width: 310px;
      @media screen and (max-width: 400px) {
        width: 245px;
      }
    }

    svg {
      cursor: pointer;
      right: 0;
    }
  }

  .auth-text {
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }

  .auth-container__button-primary {
    width: 100%;
    margin: 25px auto;
    background-color: $primary;
    padding: 5px 70px;
    color: $white;
    border: 0;
    cursor: pointer;
    text-align: center;
  }
}

.errorMessage{
  font-size: x-small;
  color: red;
}