@import '../../../../assets/styles/global.scss';

#institute {
    height: 100%;
    overflow-y: auto;
  overflow-x: hidden;
   >.header {
        height: 170px;
        background: $primary;
        background-size: cover;
        background-repeat: no-repeat;
        >.header-title {
            display: flex;
          cursor: pointer;
            align-items: center;
            padding: 20px 15px;
            >h4 {
                margin-left: 15px;
                font-size: 1.5rem;
                font-weight: 600;
                color: $white;
            }
            svg {
                width: 22px;
                path { fill: $white; }
            }
        }
   }

   .institute-content {
       padding: 15px 20px;
       background-image: url("../../../../assets/images/profile_shape.svg");
       z-index: 10;
       margin-top: -50px;
       background-position: top;
       background-size: 105%;
       background-repeat: no-repeat;
       >.owner-infos {
           display: flex;
           padding-top: 20px;
           align-items: center;
           >.avatar {
               width: 80px;
               height: 80px;
               border-radius: 50%;
               margin-right: 10px;
               box-shadow: 0 2px 15px rgba(#000, .35);
           }
           .name {
                font-size: 1.5rem;
                color: $primary;
                font-weight: 600;
                margin-bottom: 5px;
           }
           .address {
                font-size: 1.1rem;
                color: $secondary;
                font-weight: 400;
           }
       }
       >.description {
           color: $secondary;
           line-height: 15px;
           font-size: 1rem;
           text-align: justify;
           margin: 15px 0;
       }

       >.stats {
           padding: 15px 0;
           margin-bottom: 10px;
           display: grid;
           grid-template-columns: 20% auto;
           column-gap: 15px;
           >.rates {
                h2 {
                    font-size: 4.2rem;
                    font-weight: bold;
                    color: #000;
                }
                p {
                    font-size: 1rem;
                    font-weight: 600;
                    color: $grey-300;
                }
           }
           >.stars-group {
               display: flex;
               flex-direction: column;
               gap: 10px;
               grid-template-columns: 1fr;
           }
       }

       .menu {
         display: flex;
         margin-top: 20px;
         flex-wrap: nowrap;
         cursor: pointer;

         &.actived{
           color: $primary;
         }
       }
       .menu-web {
         display: flex;
         margin-top: 20px;
         justify-content: space-around;
         flex-wrap: nowrap;
         cursor: pointer;

         &.actived{
           color: $primary;
         }
       }

       >.bottom-content {
           margin-top: 5vh;
       }
   }
  .marge{
    margin-top: 5vh;
  }
}
.info-user {
  display: grid;
  height: 60vh;
  width: 100vw;
  justify-content: center;
  align-content: flex-start;
  background: url("../../../../assets/images/bottom-bg.svg") no-repeat bottom center;
  overflow: auto;

  >.logo-box {
    padding: 15px 0;
    >img {
      width: 4.5rem;
    }
  }
  >.big-logo__box {
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
      width: 17rem;
    }
  }

  .auth-container__input-container {
    display: grid;
    position: relative;
    svg {
      display: block;
      margin: 26px 20px;
      position: absolute;
    }

    .auth-container__input {
      margin: 10px 0;
      width: 310px;
      @media screen and (max-width: 400px) {
        width: 245px;
      }
    }

    svg {
      cursor: pointer;
      right: 0;
    }
  }

  .circles {
    display: flex;
    margin: 10px 0;
    gap: 15px;
    justify-content: center;
    >span {
      cursor: pointer;
      border: solid 2px $primary;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      &.selected {
        background-color: $primary;
      }
    }
  }

  .auth-text {
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }

  .auth-container__button-primary {
    width: 100%;
    margin: 25px auto;
    background-color: $primary;
    padding: 5px 70px;
    color: $white;
    border: 0;
    cursor: pointer;
    text-align: center;
  }

  .registation-final__step {
    .circles {
      padding: 20px 0;
    }
    select::-ms-expand {
      display: none;
    }
    select {
      display: block;
      box-sizing: border-box;
      padding: 1.5rem 2rem;
      border: 1px solid #eee;
      font-size: 1.5rem;
      line-height: inherit;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
      background-position: right 15px top 1em, right 10px top 1em;
      background-size: 5px 5px, 5px 5px;
    }
    select {
      margin: 10px 0;
      width: 310px;
      @media screen and (max-width: 400px) {
        width: 285px;
      }
    }
  }
}

.info-user-1 {
  display: grid;
  height: 40vh;
  width: 100vw;
  justify-content: center;
  align-content: flex-start;
  background: url("../../../../assets/images/bottom-bg.svg") no-repeat bottom center;
  overflow: auto;

  >.logo-box {
    padding: 15px 0;
    >img {
      width: 4.5rem;
    }
  }
  >.big-logo__box {
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
      width: 17rem;
    }
  }

  .auth-container__input-container {
    display: grid;
    position: relative;
    svg {
      display: block;
      margin: 26px 20px;
      position: absolute;
    }

    .auth-container__input {
      margin: 10px 0;
      width: 310px;
      @media screen and (max-width: 400px) {
        width: 245px;
      }
    }

    svg {
      cursor: pointer;
      right: 0;
    }
  }

  .circles {
    display: flex;
    margin: 10px 0;
    gap: 15px;
    justify-content: center;
    >span {
      cursor: pointer;
      border: solid 2px $primary;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      &.selected {
        background-color: $primary;
      }
    }
  }

  .auth-text {
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }

  .auth-container__button-primary {
    width: 100%;
    margin: 25px auto;
    background-color: $primary;
    padding: 5px 70px;
    color: $white;
    border: 0;
    cursor: pointer;
    text-align: center;
  }

  .registation-final__step {
    .circles {
      padding: 20px 0;
    }
    select::-ms-expand {
      display: none;
    }
    select {
      display: block;
      box-sizing: border-box;
      padding: 1.5rem 2rem;
      border: 1px solid #eee;
      font-size: 1.5rem;
      line-height: inherit;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
      background-position: right 15px top 1em, right 10px top 1em;
      background-size: 5px 5px, 5px 5px;
    }
    select {
      margin: 10px 0;
      width: 310px;
      @media screen and (max-width: 400px) {
        width: 285px;
      }
    }
  }
}

.errorMessage{
  font-size: x-small;
  color: red;
}
.span-bottom {
  display: block;
  position: relative;
  height: 4px;
  width: 30px;
  background-color: $primary;
}

.disable{
  pointer-events: none;
  opacity: 0.5;
}
