@import '../../../../assets/styles/global.scss';

#order-form{
  height: 20vh;
  margin: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  >.order-image{
    width: 13rem;
    height: 13rem;
    border: 1px solid rgba(240, 240, 240, 0.8);
    border-radius: 1.5vh;
    margin-bottom: 0.8vh;
  }
  >.order-name{
    font-size: 1.2rem;
    opacity: 0.7;
  }
  >.order-quantity-form{
    background-color: rgba($primary, 0.4);
    padding: 5px 5px;
    width: 5vh;
    top: 6rem;
    border-radius: 1vh;
    position: absolute;
    >.order-quantity{
      text-align: center;
      font-weight: bold;
      font-size: small;
      color: white;
    }
  }

  >.order-price{
    font-size: 1.1rem;
    font-weight: bold;
    color: $primary;
  }
}