//@import '../../../../assets/styles/global.scss';

.map {
  position: relative;
  width: 100%;
  height: 40vh;

  >.position {
    background-color: #6B0C72FF;
    position: absolute;
    bottom: 30px;
    right: 25px;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    >svg {
      margin-right: 8px;
    }
    >p {
      color: #fff;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}